@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Students Razor CRUD</h1>
</div>
<div class="row">
    <div class="text-end">
        <a asp-page="/Create" class="btn btn-primary">Add Student</a>
    </div>
</div>

<div class="row">
    <div class="col text-center">All Students</div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>Name</td>
            <td>GPA</td>

        </tr>
        </thead>
        @foreach (var s in @Model.Students )
        {
            <tr>
                <td>@s.FName @s.LName</td>
                <td>@s.Gpa</td>
                <td class="col-2"> <a asp-page="/Edit" asp-route-id="@s.Id" class="col-12 btn btn-info">Edit</a> </td>
                <td class="col-2"><a asp-page="/Delete" asp-route-id="@s.Id" class="col-12 btn btn-danger">Remove</a> </td>
            </tr>
        }
    </table>
</div>
